@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  font-family: Poppins;

}
@media only screen and (min-width: 800px) {
  

body {
  background-image: linear-gradient(to right, #145277, #83d0cb);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100svh;
  justify-content: center;
  overflow: hidden;
}
form {
  height: 80vh;
  width: 50vw;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 20px;
}
input , textarea{
  box-sizing: border-box;
  height: 6vh;
  width: 19vw;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 5px;
}
.first-container-contact {
  
  height: 70vh;
  width: 23vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.message-containersecond {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  width: 23vw;
}

textarea {
  box-sizing: border-box;
  height: 31.5vh;
  padding: 10px;
}

input[type="submit"] {
  height: 8vh;
  background: #04bade;
}
}
@media only screen and (max-width: 800px) {
  body {
    background-image: linear-gradient(to right, #145277, #83d0cb);
    background-repeat: no-repeat;
  background-size: 100vw 100vh;
  display: flex;
  align-items: center;
  height: 100svh;
  justify-content: center;
  }
  form {
    height: 80vh;
    width: 94vw;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  }
  h1#stupidH1
  {
    display: none;
  }
  input, textarea {
    box-sizing: border-box;
  height: 6vh;
  width: 80vw;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 5px;
  }
  textarea {
    height: 16vh;
  }
  input[type="submit"] {
    height: 7vh;
    background: #04bade;
  }
}